@minHeight: 250px;

.ace_mobile-menu {
  display: none !important;
}

.glslSnippet {
  display: flex;
  flex-wrap: wrap;
  min-height: @minHeight;
  width: 100%;
  white-space: pre;
  margin-top: -0.5rem;
}

.glslSnippet-editor {
  flex-grow: 1;
  margin-top: 0.5rem;
  box-sizing: border-box;
  min-width: 66%;
  min-height: calc(@minHeight + 64px);
  background-color: #fefefe !important;
}

.glslSnippet-canvas {
  margin-top: 0.5rem;
  width: @minHeight;
}

.glslSnippet-canvas > canvas {
  width: @minHeight;
  height: @minHeight;
  vertical-align: middle;
}

.glslSnippet-control {
  box-sizing: border-box;
  display: flex;
  background-color: #ebebeb;
  width: 100%;
  padding: 0.5rem;
}

.glslSnippet-rewind {
  cursor: pointer;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAACXBIWXMAAAsTAAALEwEAmpwYAAAABGdBTUEAALGOfPtRkwAAACBjSFJNAAB6JQAAgIMAAPn/AACA6QAAdTAAAOpgAAA6mAAAF2+SX8VGAAAAyklEQVR42mL8//8/Ay0AQAAxMdAIAAQQzQwGCCAGUFBgwySAHGz6AQIIn8H/0TBWQ0Fy2PQDBBAlBmfD5LDpBwggcg3ORpbDph8ggMgxOAddDpt+gAAi1eBsLOJYDQYIIFIMzsFmKC6DAQKIEVfSYmRk/E9CkmVEFwMIIFIySC4piRsggEgN4xxigwIggGiWKgACiNx0nEPIYIAAoiTn5eAzGCCAaFZWAAQQNUo3KWz6AQKIkVY1CEAA0aygBwggmhkMEEA0MxggwAA0PQ28iBY2AwAAAABJRU5ErkJggg==);
  width: 22px;
  height: 22px;
  padding: 0;
}

.glslSnippet-play {
  cursor: pointer;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAACXBIWXMAAAsTAAALEwEAmpwYAAAABGdBTUEAALGOfPtRkwAAACBjSFJNAAB6JQAAgIMAAPn/AACA6QAAdTAAAOpgAAA6mAAAF2+SX8VGAAAAxUlEQVR42mL8//8/Ay0AQAAxMdAIAAQQXoMZGRnrgZiDHIMBAogBFBS4MBCAiHp8anBhgAAixmCw4UDMQYrBAAFErMEkGw4QQKQYTFKwAAQQqQYTbThAAJFjMFHBAhBA5BpM0OUAAcSIL+cB0/B/AkmVEZccQABRkvMa8EkCBBDZYUwo8gACiGapAiCAaJaOAQKIpJxHSpYGCCCiywpSCyGAAKJZ6QYQQIQMriXHUBAGCCBGWlVNAAFEs6oJIIBoZjBAgAEAy/wZQBSOd0MAAAAASUVORK5CYII=);
  width: 22px;
  height: 22px;
  padding: 0;
}

.glslSnippet-pause {
  cursor: pointer;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAACXBIWXMAAAsTAAALEwEAmpwYAAAABGdBTUEAALGOfPtRkwAAACBjSFJNAAB6JQAAgIMAAPn/AACA6QAAdTAAAOpgAAA6mAAAF2+SX8VGAAAAkUlEQVR42mL8//8/Ay0AQAAxMdAIAAQQzQwGCCCaGQwQQCy4JBgZGdEDnxFKo4gD44gRm36AAKKZiwECiGYGAwQQzQwGCCCaGQwQQDQzGCCAaGYwQADRzGCAAKKZwQABRDODAQKIZgYDBBDNDAYIIJoZDBBAjLQq6AECiGYuBgggmhkMEEA0MxgggGhmMECAAQDzUgsnj60IDAAAAABJRU5ErkJggg==);
  width: 22px;
  height: 22px;
  padding: 0;
}

.glslSnippet-fullscreen {
  cursor: pointer;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAACXBIWXMAAAsTAAALEwEAmpwYAAAABGdBTUEAALGOfPtRkwAAACBjSFJNAAB6JQAAgIMAAPn/AACA6QAAdTAAAOpgAAA6mAAAF2+SX8VGAAAAqklEQVR42mL8//8/Ay0AQAAxMdAIAAQQzQwGCCCaGQwQQCzoAoyMjLgCnRFKY5UHxhUjMh8ggGjmYoAAopnBAAFEM4MBAoiFCDWMpIQ1DAAEEM1cDBBALES4kFifoACAAKKZiwECCJuL/xPpMrzqAAKIhQzHEFVqAQQQE5EGkVwEAgQQzcIYIIBoZjBAANHMYIAAYqRVDQIQQDRzMUAA0cxggACimcEAAQYAdbYRL29c7wAAAAAASUVORK5CYII=);
  width: 22px;
  height: 22px;
  padding: 0;
}

.glslSnippet-control-text {
  line-height: 22px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
