@minHeight: 250px;

.glslSnippet {
  display: flex;
  flex-wrap: wrap;
  min-height: @minHeight;
  width: 100%;
  white-space: pre;
  margin-top: -0.5rem;
}

.glslSnippet-editor {
  flex-grow: 1;
  margin-top: 0.5rem;
  box-sizing: border-box;
  min-width: 66%;
  min-height: calc(@minHeight + 64px);
  background-color: #fefefe !important;
}

.glslSnippet-canvas {
  margin-top: 0.5rem;
  width: @minHeight;
}

.glslSnippet-canvas > canvas {
  width: @minHeight;
  height: @minHeight;
  vertical-align: middle;
}

.glslSnippet-control {
  box-sizing: border-box;
  display: flex;
  background-color: #ebebeb;
  width: 100%;
  padding: 0.5rem;
}

.glslSnippet-control > img {
  cursor: pointer;
  width: 22px;
  height: 22px;
}

.glslSnippet-control > div {
  line-height: 22px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
